/*ESTILOS GENERALES:aplican a toda la pagina */
body {
    front-family: 'arial' , sans-serif; /* tipografi */
    line-height: 1.6; /* espacio entre lineas */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /*color de fondo */
    color: #333; /* color de texto principal*/
}
/*ENCABEZADO: estilos para la sección <header> */
header {
   background-color: #2c3e50; /* azul oscuro */
   color: white;
   text-align: center;
   padding: 1er 0; /* espaciado interno */    
}
/* SECCIONES: estilos para <section> */
section {
    margin:1rem;
    padding: 1er;
    background-color: white;
    border-radius: 5px; /* bordes redondeados */
}
/* LISTA DE PROYECTOS: estilos para <ul> */
ul {
    list-style-type: square; /*viñetas cuadradas */
}
/*PIE DE PAGINA: estilos para <footer> */
footer {
    text-align: ceneter;
    padding: 1er 0;
    background-color: "#2c3e50";
    color: white;
}